<h3>All books returned from factory getAllBooks() </h3>
	<div>
		
	<ul>
		<li ng-repeat = "book in books.allBooks">
			
		{{book.book_id}},
		{{book.title}},
		{{book.author}},
		{{book.year_published}}
		</li>

	</ul>
	</div>
	<a href="#/addBook">Add New Books!</a>
	<h3>All readers returned from factory getAllReaders() </h3>
	<div>
	
	<ul>
		<li ng-repeat = "reader in books.allReaders">
			
		{{reader.reader_id}},
		{{reader.name}},
		{{reader.weeklyReadingGoal}},
		{{reader.totalMinutesRead}},
		{{books.getBadge(reader.totalMinutesRead)}}
		</li>

	</ul>

	</div>